<mat-card>
  <mat-toolbar color="primary">Course details</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="full-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="front-end">Front-end</mat-option>
          <mat-option value="back-end">Back-end</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
